*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#3f3752;
}

.container{
    position:relative;
    width:1200px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    
}

.container .serviceBox{
    position:relative;
    width:350px;
    height:280px;
    background-color:#51446e;
    border-radius:10px;
    overflow: hidden;
}

.container .serviceBox .icon{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--i);
    transition:0.5s;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:2;
}

.container .serviceBox:hover .icon{
    top:30px;
    width:80px;
    left:calc(50% - 40px);
    height:80px;
    border-radius:50%;
}

.container .serviceBox .icon ion-icon{
    font-size:5em;
    color:#fff;
    transition:0.5s;
}

.container .serviceBox:hover .icon ion-icon{
    font-size:2em;
}

.container .serviceBox .content{
    position:relative;
    padding:20px;
    color:#fff;
    text-align:center;
    margin: 100px;
    z-index: 1;
}

.container .serviceBox content h2{
    margin-top:10px;
    margin-bottom:5px;
}

.container .serviceBox content p{
    font-weight: 300;
    line-height: 1.5em;
}